.container216 {
    background-color: red;
    overflow: auto;
}

.outer216 {
    background-color: green;
    margin: 15px;
    padding: 15px;
}

.inner216 {
    background-color: blue;
    height: 250px;
}

