html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.square {
    height: 50px;
    width: 50px;
    background-color: blue;
}
