html, body {
    height: 100%;
    margin: 0;
}

.inner {
    background-color: red;
    margin: 15px;
    border-radius: 5px;
    
    width: 300px;
    
    font-size: 72px;
    text-align: center;
    color: white;
}

.outer {
    display: flex;
}