html, body {
    height: 100%;
    margin: 0;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    background: linear-gradient(135deg, orange, red);
    border-radius: 5px;
    width: 300px;
    height: 100px;
}