<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Удвоить.События Vue</title>
    </head>
    <body>
        <div id="app">
            <input type="text" v-model="thing" v-on:keydown=addItem($event)>
            <ol>
                <li v-for="item of list" track-by="$index"
                v-on:click="removeItem($index)">{{ item }}</li>
            </ol>
        </div>
        <script src="vue.js"></script>
        <script src="script_61.js"></script>
    </body>
</html>
